/*custom css*/
a:focus { outline: none; }
body {
  padding-top: 105px;
}
img { max-width: 100%; }
.navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
  margin-left: 0;
}
.navbar-brand {
  width: 150px;
  padding: 0;
  margin-right: 30px;
  background-color: #fff;
}
.navbar-inverse  {
  background-image: none;
  background-color: #798c9d;
  border: 0;
  padding: 35px 0 20px 0;
}
.navbar-inverse .navbar-nav > li > a {
  color: #000;
  font-size: 16px;
  text-transform: uppercase;
}
.navbar-inverse .navbar-nav > .active > a, 
.navbar-inverse .navbar-nav > .active > a:focus, 
.navbar-inverse .navbar-nav > .active > a:hover {
  background: transparent;
  box-shadow: none;
  text-shadow: none;
}

/*Button Bar*/
.buttonbar {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: right;
}
.middWrapper {
  background-color: #f8f9f9;
  padding-top: 15px;
  padding-bottom: 15px;
}
.owners {
  padding-top: 10px;
}
.owners label {
  line-height: 35px;
  text-transform: uppercase;
  font-size: 16px;
  float: left;
  margin-right: 10px;
  color: #95999c;
}
.owners select.form-control {
  float: right;
  width: 78%;
}
.searchWrapper {
  background-color: #edf0f2; 
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 10px; 
  margin-bottom: 10px;
}
.searchbar {
  float: right;
  padding: 5px 15px 5px 10px;
  background-color: #fff;
  border-radius: 4px;
  width: 40%;
}
.searchbar .glyphicon-search {
  padding: 5px;
  line-height: 30px;
  color: #9a9a9b;
}
.searchbar .btn {
  padding: 0;
  background-color: transparent;
  float: right;
}

.searchbar .form-control {
  float: left;
  width: 80%;
  border: 0;
  box-shadow: none;
  height: 40px;
}

/*screening panel*/
.screeningPanel {
  border-radius: 6px 6px 3px 3px;
  overflow: hidden;
  border-bottom: solid 5px #95999c;
  margin-right: -15px;
}
.screeningPanel .head {
  background-color: #95999c;
  padding-top: 10px;
  padding-bottom: 10px; 
  overflow: hidden;
  color: #fff;
}
.screeningPanel .head small,
.screeningPanel .head strong {
  display: block;
}
.screeningPanel .head small {
  font-size: 14px;
}
.screeningPanel .head strong {
  text-transform: uppercase;
  font-size: 30px;
  font-weight: normal;
}
.screeningPanel .head .glyphicon-cog {
  line-height: 60px;
  font-size: 30px;
  color: #bfc0c1;
}
.stageWrapper {
  background-color: #bedaa9;
  height: 6px;
  border-bottom: solid 1px #a8c497;
}
.stageWrapper span {
  float: left;
  width: 20%;
  height: 6px;
  border-right: solid 2px #fff; 
}
.stageWrapper span:last-child {
  border-right: 0;
}
.stageWrapper span.active {
  background-color: #77c045;
}
.dealTitle {
  background-color: #c6c8c9;
  color: #fff;
  margin: 0;
  padding: 5px;
  text-align: center;
  font-size: 14px;
  text-transform: uppercase;
}
.dealListing dl {
  margin: 0;
  background-color: #edf0f2;
  border-bottom: solid 2px #e3e3e5;
  overflow: hidden;
}
.dealListing dl:hover {
  background-color: #f4f6f7;
}
.dealListing dl dt {
  width: 90%;
  float: left;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
}
.dealListing dl dd {
  margin-left: 91%;
  font-size: 40px;
  line-height: 80px;
  color: #95999c;
}
.dealListing dl small,
.dealListing dl big {
  display: block;
  font-weight: normal;
}
.dealListing dl big {
  color: #5294cf;
  margin-bottom: 5px;
}
.dealListing dl dt label {
  width: 25px;
  height: 25px;
  border-radius: 100%;
  text-align: center;
  color: #95999c;
  border: solid 1px #95999c;
  display: inline-block;
  margin-right: 5px;
  line-height: 24px;
}
.dealListing dl dt label.accepted {
  color: #77c045;
  border-color: #77c045;
}
.dealListing dl dt label.diclined {
  color: #ee1f25;
  border-color: #ee1f25;
}
.dealListing dl dt label.disable {
  color: #fff;
  border-color: #fff;
}

/**/
.screeningTitleBar {
  background-color: #77c045;
  padding-top: 15px;
  padding-bottom: 15px;
  overflow: hidden;
  color: #fff;
  border-radius: 10px;
  margin-bottom: 15px;
}
.screeningTitleBar h2 {
  margin: 0;
}
.notifications a {
  font-size: 40px;
  margin-right: 20px;
  color: #fff;
}
.notifications a:last-child {
  margin-right: 0;
}

.middPanel {
  padding-left: 0; 
}
.middPanel .nav-tabs {
  border-radius: 8px 8px 0 0;
  border-bottom: 0;
}
.middPanel .nav-tabs li {
  background-color: #ebeef0;
  margin-bottom: 0; 
}
.middPanel .nav-tabs li a {
  color: #000;
  padding: 15px 16px;
  text-align: center;
  border-radius: 0;
}
.middPanel .nav-tabs li:hover a {
  background-color: #fff;
}
.middPanel .nav-tabs > li.active > a, 
.middPanel .nav-tabs > li.active > a:focus, 
.middPanel .nav-tabs > li.active > a:hover {
  border: 0;
}
.middPanel .innertab {
  background-color: #fff;
  margin-bottom: 10px;
}
.middPanel .innertab li {
  background-color: transparent;
}
.middPanel .innertab li a {
  padding: 5px 24px;
}
.middPanel .innertab > li:hover a,
.middPanel .innertab > li.active > a, 
.middPanel .innertab > li.active > a:focus, 
.middPanel .innertab > li.active > a:hover {
  border-color: #fff;
  border-bottom: solid 2px #ccc;
  box-shadow: none;
}

#client .panel-default > .panel-heading {
  background-color: #fff;
  background-image: none;
  text-transform: uppercase;
}
#client .panel-default > .panel-heading a {
  display: block;
  position: relative;
  font-size: 14px;
  font-weight: bold;
  color: #95989a;
}
#client .panel-default > .panel-heading a:hover,
#client .panel-default > .panel-heading a:focus {
  text-decoration: none;
}
#client .panel-default > .panel-heading a:after {
  border-bottom: 10px solid #ccc;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 0; 
  content: '';
  position: absolute;
  right: 0;
  top: 5px;
  color: #898989;
}
#client .panel-default > .panel-heading a.collapsed:after {
  border-top: 10px solid #ccc;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-bottom: 0;
  content: '';
  position: absolute;
  right: 0;
  top: 5px;
  color: #898989;
}
#client .panel-default > .panel-heading a:hover {
  text-decoration: none;
}
#client .panel-default > .panel-heading {
  position: relative;
}
#client button.edit {
  position: absolute;
  top: 10px;
  right: 40px;
  background-color: transparent;
  border: 0;
  color: #898989;
}
#client .infolist {
  margin: 0;
  padding: 0;
}
#client .infolist li {
  list-style: none;
  float: left;
  width: 30%;

  margin: 0 5px 10px; 
}
#client .infolist li label {
  color: #bcbec0;
  text-transform: uppercase;
  margin-bottom: 0;
}
#client .infolist li span {
  display: block;
  color: #2b2b2b;
  font-size: 18px;
}


/*Right panel*/
.rightpanel {
  background-color: #fff;
  border-radius: 6px;
  border: solid 1px #eff1f3;
  height: 450px;
  overflow-y: auto;
}
.recentActivites ul {
  list-style: none;
  padding: 0 0 0 20px;
  margin: 0;
  border-left: solid 1px #e2e2e4;
}
.recentActivites ul li {
  padding-bottom: 5px;
  margin-bottom: 10px;
  border-bottom: solid 1px #e2e2e4;
  color: #95989a;
  position: relative;
}
.recentActivites ul li:before {
  border-left: 5px solid #e2e2e4;
  border-top: 4px solid transparent;
  border-bottom: 4px solid transparent;
  position: absolute;
  left: -20px;
  top: 2px;
  content: '';
}
.recentActivites ul li h5 {
  margin: 0;
  font-weight: bold;
  font-size: 12px;
  color: #95989a;
}
.recentActivites ul li .comments {
  font-size: 16px;
}
.recentActivites ul li .label {
  width: 26px;
  height: 26px;
  border: solid 1px #76c146;
  color: #76c146;
  line-height: 18px;
  text-align: center;
  float: left;
  margin-right: 10px;
  border-radius: 100%;
  font-size: 14px;
  margin-top: 5px;
}
.recentActivites small {
  display: block;
  width: 84%;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 20px;
}
.recentActivites small + small {
  margin-top: -5px;
}

.maintabs {
  float: left;
  padding-left: 50px;
}
.maintabs a {
  color: #b9bad5;
  position: relative;
  margin-right: 60px;
  font-size: 20px;
  text-transform: uppercase;
}
.maintabs a:hover,
.maintabs a.active {
  text-decoration: none;
  color: #76c146;
}
.maintabs a:hover span,
.maintabs a.active span {
  text-decoration: none;
  border-color: #76c146;
}

.maintabs a span {
  display: inline-block;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  border: solid 3px #b9bad5;
  line-height: 44px;
  text-align: center;
  border-radius: 100%;
  font-size: 28px;
}

#client .edit.infolist {
  display: none;
}